<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811050845623-qbb23p8h5bf4a02km94flta79rls1s5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811050845623-qbb23p8h5bf4a02km94flta79rls1s5m</string>
	<key>API_KEY</key>
	<string>AIzaSyD8sy1NVM0U5pseKCrZ2P1ZhdanjXYDJAw</string>
	<key>GCM_SENDER_ID</key>
	<string>811050845623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdns.chatUp</string>
	<key>PROJECT_ID</key>
	<string>chatup-69ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatup-69ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811050845623:ios:f4700b1df40eca4e1d9432</string>
</dict>
</plist>